﻿<style>
#request-list, #second-block {
	width:500px; 
	border: 1px solid #ccc;
	border-radius: 4px;
	padding:10px;
}
#results-table {
	width:900px; 
	border: 1px solid #ccc;
	border-radius: 4px; padding:10px;
}
</style>
<div class="YoutubeParserIndex" >
	<div class="centered">
		<br>
		<div id="FormBox">
			<form style="width:300px;" class="form-horizontal" action="/YoutubeParser/index/get_data" method="post">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" id="youtubeParser_request" name="youtubeParser[request]" class="form-control" placeholder="введите запрос">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<input id="form-horizontal-submit" type="submit" style="width:100%;" class="btn btn-primary" value="поиск">
					</div>
				</div>
			</form>
		</div>
		<br>
		
		<div id="parent-request-list" style="display:none;">
			<h3>список запросов</h3>
			<div id="request-list" class="form-horizontal" ></div>
		</div>
		
		<div id="parent-second-block" style="display:none;">
			<h3>общая информация</h3>
			<div id="second-block" class="form-horizontal" ></div>
		</div>
		
		<div id="parent-results-table" style="display:none;">
			<h3>таблицу с результатами</h3>
			<div id="results-table" class="form-horizontal" >
				<table id="example">
				  <thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>video_rating</th>
						<th>short_description</th>
					</tr>
				  </thead>
				</table>
			</div>
		</div>
		
	</div>
</div>

<script type="text/javascript">
function is_object( mixed_var ){
	if(mixed_var instanceof Array) {
		return false;
	} else {
		return (mixed_var !== null) && (typeof( mixed_var ) == 'object');
	}
}

$(document).ready(function() {
    $('#FormBox .form-horizontal').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
		submitHandler: function(validator, form, submitButton) {
			var tmp = $('#youtubeParser_request',0).val().split(',');
			$.post( "/YoutubeParser/index/get_data", { request: tmp }).done(function( data ) {
				
				$("#parent-request-list").css('display','block');
				$("#request-list").html('');
				for(var item in data) {
				  $("#request-list").append(function(i){ 
					 return "<li class='request-list' data-selected='"+data[item]+"' ><a href='#'>"+data[item]+"</a></li>"
				  });
				}
				
				$( ".request-list" ).each(function(index){
					$(this).on("click", function(){
						$.post( "/YoutubeParser/index/get_by_name", { name: $(this).data('selected') }).done(function( data ) {
							var general = data['general'];
							delete data['general'];
							aaData = [];
							
							for(var i in data) {
								if(is_object(data[i]['YoutubeResults']) && data[i]['YoutubeResults']['id']!='undefined'){
									aaData[i] = [];
									aaData[i].push(data[i]['YoutubeResults']['id']);
									aaData[i].push('<a href="'+data[i]['YoutubeResults']['url']+'">'+data[i]['YoutubeResults']['name']+'</a>');
									aaData[i].push(data[i]['YoutubeResults']['video_rating']);
									aaData[i].push(data[i]['YoutubeResults']['short_description']);		
								}
							}
							
							$("#parent-results-table").css('display','block');
							$("#results-table").html('<table id="example"><thead><tr><th>id</th><th>name</th><th>video_rating</th><th>short_description</th></tr></thead></table>');
							$("#example").dataTable({
								"aaData":aaData,
							});
							
							$("#parent-second-block").css('display','block');
							$("#second-block").html('');
							$("#second-block").append("<li>название : "+general['name']+"</li>");
							$("#second-block").append("<li>количество результатов в базе данных : "+general['youtube_results']+"</li>");
							$("#second-block").append("<li>средний рейтинг : "+general['average_rating']+"</li>");
							
						});
					});
				});
				$('#form-horizontal-submit').removeAttr("disabled");
			});
			return false;
        },
        fields: {
            'youtubeParser[request]': {
                message: 'поле не может быть пустым',
                validators: {
                    notEmpty: {
                        message: 'поле не может быть пустым'
                    },
					regexp: {
                        regexp: /^[a-zA-Zа-яА-Я0-9_ '",\.]+$/,
                        message: '{PATRONYMIC_REGEXP_ERROR}'
                    }
                }
            },
        }
    });
});

</script>
