<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta charset="utf-8" />

<link rel="stylesheet" href="/webroot/main/vendor/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/webroot/main/dist/css/bootstrapValidator.css"/>
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<script type="text/javascript" src="/webroot/main/vendor/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/webroot/main/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webroot/main/dist/js/bootstrapValidator.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="/webroot/main/style.css"/>

</head>
<body>
	<div class="conteiner">
		<?php echo $content; ?>
	</div>
</body>
</html>