.lang-chooser {
	font-size: 13px;
	height: 24px;
	line-height: 24px;
	min-width: 160px;
	position:absolute;
	right:40px;
	top:6px;
}
.footer-lang{
	width:100%;
	height:40px; 
	position:relative; 
	bottom:0px; 
	border-bottom: 1px solid #e5e5e5;
}


.UsersLogin .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    height:400px;
    margin: -200px 0 0 -180px;
}

.UsersLogin .circle-mask, .UsersAccount .circle-mask {
    display: block;
    height: 96px;
    width: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin-bottom: 10px;
    background-size: 96px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.gstatic.com/accounts/ui/avatar_2x.png);
    -webkit-transition: opacity 0.075s;
    -moz-transition: opacity 0.075s;
    -ms-transition: opacity 0.075s;
    -o-transition: opacity 0.075s;
    transition: opacity 0.075s;
}

.UsersLogin .hidden-small {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-size: 18px;
    font-weight: 400;
	color: #828282
}

.UsersLogin .form-horizontal{
	background: #f0f0f0;
	padding: 20px;
	border-radius: 4px;
}


.UsersRegistration, .UsersAccount{
	max-width: 1000px;
	position:relative;
	margin: 0px auto;
	padding: 20px;
}
.UsersRegistration form, .UsersAccount form {
	width: 500px;
}
.footer-lang{
	position:relative; 
}
.UsersRegistration .hidden-small, .UsersAccount .hidden-small {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-size: 18px;
    font-weight: 400;
	color: #828282
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.UsersLogin #profile-name {
    color: #000;
}
.UsersLogin #profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    min-height: 1em;
}

.UsersLogin #email-display {
    display: block;
    padding: 0px 8px;
    color: rgb(64, 64, 64);
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.exit{
	font-size: 13px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	right: 210px;
	top: 6px;
}


.YoutubeParserIndex #profile-name {
    color: #000;
}
.YoutubeParserIndex #profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    min-height: 1em;
}

.YoutubeParserIndex #email-display {
    display: block;
    padding: 0px 8px;
    color: rgb(64, 64, 64);
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.conteiner {
	width:1000px;
	margin:0 auto;


}



